.container {
  background: #F9F9F9;
  padding: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .text {
    font-family: Montserrat-Light;
    font-weight: 300;
    font-size: 13px;
    color: #666666;
    line-height: 16px;
  }
}