.footer {
  background: #fff;
  padding: 1rem 3rem;
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu {
      text-align: center;
      cursor: pointer;
    }
    .active {
      p {
        color: #00C891 ;
      }
    }
    svg {
      width: 26px;
      height: 26px;
      fill: #857f7f;
    }
    p {
      color: #857f7f;
      margin: 0;
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }
}
